{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'wishlists/css/wishlist.css' %}">
{% endblock %}

{% block content %}
<div id="notepad">
    <div class="lines"></div>
    <ul class="list">
        <li class="uk-h1">
            My Wishlist
        </li>
        {% for gift in wishlist %}
            <li class="item" data-gift_id="{{ gift.id }}">
                <span class="list-number">{{ forloop.counter }}. </span> 
                <span class="list-name">{{ gift.name }}</span>
                <span class="delete-item" data-gift_id="{{ gift.id }}">
                    <span uk-icon="trash"></span>
                </span>
            </li>
        {% empty %}
            <li class="uk-h2">
                No Gifts Added Yet
            </li>
        {% endfor %}
    </ul>
    
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'wishlists/js/wishlist.js' %}"></script>
{% endblock %}