body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex-grow: 1;
}

@font-face {
    font-family: 'Candy Time';
    src: url('../fonts/candy_time.ttf') format("truetype");
  }

  @font-face {
    font-family: 'Candyman';
    src: url('../fonts/candyman.ttf') format("truetype");
  }

/* .logo-container {
    text-align: center;
} */

.font-christmas {
    font-family: 'Mountains of Christmas', cursive;
}

.font-candyman {
    font-family: "Candyman", sans-serif;
    color:#923226;
}

.logo-text {
    font-size: 3rem;
    padding: 0;
    margin: 5px;
}

.logo-image {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    margin: 10px 5px 20px 5px;
}

@media screen and (min-width: 768px) {
    .logo-text {
        font-size: 4rem;
        padding: 0;
        margin: 5px;
    }
    
    .logo-image {
        height: 3rem;
        width: 3rem;
        padding: 0;
        margin: 11px 5px 20px 5px;
    }

}

@media screen and (min-width: 960px) {
    .logo-text {
        font-size: 6rem;
        padding: 0;
        margin: 5px;
    }
    
    .logo-image {
        height: 5rem;
        width: 5rem;
        padding: 0;
        margin: 5px 5px 20px 5px;
    }
    
}