{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'countdown/css/countdown.css' %}">
{% endblock %}

{% block content %}
    <h1>Countdown Works!</h1>

    <div>
        {% for gift in gifts %}
            <div class="gift" data-gift_id="{{ gift.id }}">
                <p>{{ gift.name }}</p>
                <img width="200px" height="200px" src="{% static 'images/gifts/' %}{{ gift.image }}">
            </div>
        {% endfor %} 
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'countdown/js/countdown.js' %}"></script>
{% endblock %}