{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'countdown/css/countdown.css' %}">
{% endblock %}

{% block content %}
<div class="uk-container uk-margin-top uk-animation-fade font-candyman">
    <div class="uk-text-center countdown-container days-to-go">
        {% if days_left >= 0 %}
        <div id="countdown">
            {% if days_left == 1 %}
            <span class="uk-text-success">{{ days_left }}</span> Day
            {% else %}
            <span class="uk-text-success">{{ days_left }}</span> Days
            {% endif %}
            Until <span class="uk-text-danger">Secret Santa!</span>
        </div>
        {% else %}
        <div>
            <p>
                <span class="uk-text-danger">Secret Santa</span> has been drawn!
            </p>
            <p>
                What <span class="uk-text-success">gift</span> did you get? </p>
        </div>
        {% endif %}
    </div>

    <div class="uk-flex uk-flex-wrap uk-flex-around uk-margin-top">

        {% for gift in gifts %}

        {% if day > 10 %}
        <div class="button-expired uk-margin-bottom gift-box">
            <p class=" day-title">Day {{ gift.day }}</p>
            <div class="gift-name">{{ gift.name }}</div>
            <div><img width="100px" height="100px" src="{% static 'images/gifts/' %}{{ gift.image }}"></div>
            <p id="gift{{ gift.id }}">
                {% if gift.day in chosen_gifts %}
                <span class="uk-text-success">You added this to your Wishlist</span>
                {% else %}
                <span class="uk-text-danger">Not in Wishlish</span>
                {% endif %}
            </p>
        </div>
        {% elif gift.id <= day %}
        <div class="button uk-margin-bottom gift-box {% if gift.day not in chosen_gifts %}gift{% endif %}" data-gift_id="{{ gift.id }}">
            <p class="day-title">Day {{ gift.day }}</p>
            <div class="gift-name">{{ gift.name }}</div>
            <div><img width="100px" height="100px" src="{% static 'images/gifts/' %}{{ gift.image }}"></div>
            <p id="gift{{ gift.id }}">
                {% if gift.day in chosen_gifts %}
                <span class="uk-text-danger">Already in Wishlist</span>
                {% else %}
                <span class="uk-text-success">Add to Wishlish</span>
                {% endif %}
            </p>
        </div>

        {% else %}
        <div class="button uk-margin-bottom gift-box">
            <p class=" day-title">Day {{ gift.day }}</p>
            <div class="gift-name">Mystery Gift..</div>
            <div><img width=" 100px" height="100px" src="{% static 'images/gift.png' %}">
            </div>
            <p>Coming Soon!</p>
        </div>
        {% endif %}

        {% endfor %}

    </div>
    {% endblock %}

    {% block js %}
    <script src=" {% static 'countdown/js/countdown.js' %}"></script>
    {% endblock %}