{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Additional CSS -->
    {% block css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap" rel="stylesheet">
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap" rel="stylesheet">
    <title>Secret Santa's Candy Cane Countdown {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Header -->
    {% block header %}
    <header>
      <div class="logo-container uk-position-top-center uk-flex uk-flex-middle">
            <img class="logo-image" src="{{ MEDIA_URL }}present.png" alt="Logo gift">
            <h1 class="logo-text font-candyman">Secret Santa</h1>
            <img class="logo-image" src="{{ MEDIA_URL }}present.png" alt="Logo gift">   
      </div>
      <!-- <div>
        <h3 class="font-christmas">By the Candy Cane Coders</h3>
      </div> -->
    </header>
    
    {% endblock %}
    <!-- Main Content -->
    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    {% block footer %}
    {% endblock %}

    <!-- JavaScript -->
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/base.js' %}"></script>
    <!-- Additional JS -->
    {% block js %}
    {% endblock %}
  </body>
</html>